<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <br><br>
    <h5>Sign in</h5>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="user" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" [(ngModel)]="pass" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" (click)="login()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="login()" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
